<!DOCTYPE html>
<html lang="en" th:replace="~{fragments/layout :: layout (~{::body},'vets')}"   xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>List of Owners</title>
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>LAst Name</th>
    </tr>
    <tbody>
    <tr th:each="vv: ${vets} ">
        <td th:text="${vv?.id}">1</td>
        <td th:text="${vv?.firstName}">1</td>
        <td th:text="${vv?.lastName}">1</td>
    </tr>
    </tbody>
    </thead>
</table>
</body>
</html>